@import url(../css/fonts.css);

:root {
    --primary-color: #692340;
    --body: #FFFFFF;
    --title-color: #FBEECA;
    --link: #241C15;
    --dots-color: #EEE8E3;
    --montserrat: "Montserrat";
    --trebuchet: "Trebuchet";
    --btn: #FFFFFF;
    --btn-color: #000;
    --btn2-color: #007C89;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

body {
    background: var(--body);
    font-family: var(--montserrat);
    color: var(--primary-color);
   
}

.container{
   
    max-width: 1440px;
    margin: auto;
}
.all-btn{
    padding: 20px 40px;
    background: var(--btn);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
/* ======== Header Starting ========*/
header{
    padding: 10px 0;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0;
  
}
.header__content-links{
    display: flex;
    column-gap: 44px;
}
.header__content-btn{
    display: flex;
    column-gap: 24px;
}
.header__content-link{
    color: var(--link);
    font-weight: 400;
    font-size: 14px;
}
.header__content-btn-button{
    padding: 12px 29px;
    background: var(--body);
    border: 1px solid var(--btn-color);
}
.header__btn-link{
    color: var(--link);
    font-weight: 700;
    font-size: 14px;
}
.header__btn-link:hover{
    color: var(--link);
}
.header__content-btn-button2{
    padding: 12px 16px;
    background: var(--btn2-color);
}
.header__btn-link2{
    color: var(--btn);
    font-weight: 700;
    font-size: 14px;
}
.header__btn-link2:hover{
    color: var(--btn);
}
.header__content-box{
    width: 1440px;
    height: 764px;
    background: url(../img/bacground.png) no-repeat center center;
}
.header__content-box{
    display: flex;
    justify-content: space-between;
}
.header__box-blog{
    margin-top: 50px;
    margin-left: 100px;
    max-width: 638px;
    display: flex;
    flex-direction: column;
    row-gap: 38px;
}
.header__box-title{
    width: 460px;
    color: var(--primary-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 74px;
}
.header__box-links{
    display: flex;
    column-gap: 28px;
    margin-top: 53px;
    margin-right: 50px;
}
.header__box-text{
    color: var(--primary-color);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
}
.header__box-btn{
    width: 250px;
    padding: 20px 40px;
    background: var(--primary-color);
}
.header__box-btn-button{
    color: var(--btn);
    font-weight: 400;
    font-size: 15px;
}
.header__box-btn-button:hover{
    color: var(--btn);
}
.header__box-link{
    color: var(--link);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
}
.header__box-link:hover{
    color: var(--primary-color);
}
.header__content-wrapper{
    margin-top: 124px;
    text-align: center;
    max-width: 677px;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}
.header__wrapper-title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 51px;
}
.header__wrapper-text{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
}
.header__wrapper-cords{
   max-width: 800px;
   display: flex;
   justify-content: space-between;
}
.header__wrapper-cards-card{
    display: flex;
    flex-direction: column;
    width: 192px;
    row-gap: 20px;
    margin-left: 130px;
    text-align: center;
    margin-top: 142px;
}
.header__wrapper-card-title{
    width: 200px;
}
.header__wrapper-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 138px;
}
.header__wrapper-box-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}
.header__wrapper-box-title{
    font-weight: 400;
    font-size: 112px;
}
.header__wrapper-box-title2{
    width: 550px;
    font-weight: 400;
    font-size: 39px;
    margin-left: 80px;
}
.header__wrapper-box-text{
    width: 530px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 100px;
}
/* ======== Header End ========*/

/* ======== Main Starting ========*/
 .main__partner{
    display: flex;
    flex-direction: column;
    row-gap: 37px;
    margin-top: 113px;
    
 }

 .main__partner-title{
    width: 500px;
    font-weight: 400;
    font-size: 54px;
    margin-left: 470px;
 }
 .min__partner-text{
    width: 661px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-left: 350px;
 }
 .main__starts-content{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
 }
 .main__starts-start{
    display: flex;
    flex-direction: column;
    row-gap: 22px;
 }
 .main__start-title{
    font-style: normal;
    font-weight: 400;
 }
 .main__start-text{
    width: 429px;
    font-weight: 400;
    font-size: 16px;
 }
 .main__start-link{
    font-weight: 400;
    font-size: 15px;
    color: var(--primary-color);
 }
 .main__start-image{
    width: 140px;
 }
 .main__carusel-img{
    width: 500px;
 }
.main__corusel{
    margin-top: 72px;

}
.main__corusel-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__corusel-content{
    display: flex;
    align-items: center;
    column-gap: 85px;
    margin-top: 67px;
}
.main__corusel-text{
    font-weight: 400;
    font-size: 40px;
    width: 450px;
}
.main__corusel-link{
    display: flex;
}
.main__corusel-link{
    margin-top: 73px;
    color: var(--primary-color);
}
.main__corusel-link:hover{
    color: var(--primary-color);
}
.main__corusel-ul2{
    margin-top: 30px;
    display: flex;
    column-gap: 20px;
}
/* ======== Main End ========*/

/* ======== Footer Starting ========*/
/* ======== Footer End ========*/